*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.boton{
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100vh;
	
}
.icono{
position: fixed;
top: -1vh;
font-size: 30px;
/*permiten animar la transicion entre un stilo css  y otro
el primer parametro es la funcion qe se ejecuta
eñ segundo el tiempo qe se va a ejecutar
el tercero la velovidad
el cuarto animacion valores y estiloss*/
animation: caida 3s linear forwards;
}

/*keyframes permite controlar los pasos intermecios en este caso,
diremos con to, qe la meta final de la el elemento este en 106vh
desde donde empezo*/
@keyframes caida{
	to{
		transform: translateY(-1vh);	
	}
	from{
		transform: translateY(100vh);
	}
}
.oculta{
	visibility: hidden;
}

}