*{
	margin:0;
	padding: 0;
	box-sizing: border-box;
}
.oculta{
	visibility: hidden;
}

.cuerpo{
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: orange;
	height: 100vh;
	width: 100vw;
}
.contenedor{
	display: flex;
	justify-content: center;
	align-items:center;
	height: 550px;
	width: 400px;
	background-color: pink;
	border:solid 3px black

	
}
form{
	width: 100%;
	padding: 25px;
}
form div{
	display: flex;
	justify-content: flex-start;
	margin: 10px;
	width: 100;
}
textarea{
	height: 63px;
	width: 341px;
	max-height:63px; 
	max-width: 341px;
}
#boton{
	margin-left: 140px;
	padding: 4px;
	color: white;
	background: green;
}
#boton:hover{
	padding: 4px;
	background: red; 
  	color: black; 
}