*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: cursive;

}
p{
	font-size: 126%;
    font-weight: 700;
}
#contenedor{
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	overflow-x: hidden;
	background-color: #7CFAFE;
	background-image: url("https://www.fondoshd.mx/wallpapers/xfondos-de-pantalla-rick-and-morty-hd-4507.jpg.pagespeed.ic.MqJjiRPU3x.webp");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed
	

}

	#cabecera{
		background-color: #fcfda9;
		width: 100%;
		height: 240px;
		opacity: 85%;
		box-shadow: 5px 77px 54px #fcfda9;
	}
		#cabeceraArriba{
			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 55%;
			font-size: 40px;
			filter: drop-shadow(8px -1px 1px  #888873 );
		}
		#cabeceraAbajo{
			display: flex;
			margin-top: -20px;
			justify-content: space-around;
			align-items: center;
			width: 100%;
			height: 50%;
		}
			#divPersonaje,#divUbicacion,#divCapitulo{
				display: flex;
				flex-direction: column;
			}	

		

	#cuerpo{
		
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		
	}	
		.dentro{
			margin: 20px;
			min-width: 423px;
    		width: 40%;
    		height: 250px;
			background-color: #DBB0EA;
			filter: drop-shadow(32px 19px 10px crimson );
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
		}
			.foto{
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 15px;
				width: 100%;
				height: 50%;
			}

				#imgDentro{
					height: 120%;
    				width: 180px;
   					margin-top: 12px;
					}
			.descripcion{
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				width: 100%;
				height: 40%;
			}
				#personaje,#ubicacion,#episodio{ 
		 		max-width: 170px;
		 	}

		@media (max-width: 550px) {
			#cabeceraArriba{
				min-width: 450px;
    			font-size: 21px;
			}
			#cabeceraAbajo{
				min-width: 450px;
				font-size: 12px;
			}
				#personaje,#ubicacion,#episodio{ 
		 		width: 80px;
		 	}
		 	#cuerpo{
		 		min-width: 450px;
		 	}
				.dentro {
				min-width: 416px;
			    width: 70%;
			    height: 300px;
			}
				#imgDentro{
					height: 119%;
   					width: 200px;
   					margin-top: 35px;
				}

			#bPersonaje,#bUbicacion,#bCapitulo{
				max-width: 80px;
			}
		}